@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #cbd0d4;
    font: 16px/1.5em "Open Sans", sans-serif;
    margin: 0;
}

h2, h3 {
    margin: 0;
    font: inherit;
}

.clearfix {
    *zoom: 1;
}

/* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.color-palette {
    background: #1c252e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 50px auto;
    padding: 32px;
    position: relative;
    width: 550px;
}

.color-palette:before {
    background: #1c252e;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

.info-text {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03125rem;
    text-transform: uppercase;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell {
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

button {
    float: right;
    position: relative;
}

.circle {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-left: 1.5em;
    border-radius: 50%;
}

.circle:before {
    content: '';
    display: block;
    border-top: solid 10px transparent;
    border-left: solid 10px #1c252e;
    border-bottom: solid 10px transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -3px;
    cursor: hand;
}

.color-container {
    margin-top: 21px;
    width: 550px;
}

.color-container h3 {
    color: #9aa1a7;
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.width5 .color {
    width: 20%;
}

.color {
    display: block;
    float: left;
    height: 250px;
}

.color-info {
    padding:5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.03125rem;
    color: #f2f2f2;
    overflow: hidden;
    text-overflow: ellipsis;
}
